@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@300;400&display=swap");
/* reset */
body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

/* estilo del header */
.row-flex {
  display: flex;
  justify-content: space-around;
  margin: 20px; }

.nav-flex {
  list-style: none;
  align-items: center;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold; }

.nav-item {
  display: inline-block;
  padding: 35px 30px;
  transition-duration: 1.2s; }

.nav-item:hover {
  color: #6a2cfa;
  font-size: 18px;
  background-color: gainsboro; }

.nav-item a:hover {
  color: #6a2cfa; }

.nav-flex .navflex-item {
  display: inline-block; }

.nav-flex a {
  color: black;
  text-decoration: none;
  text-shadow: .2px .5px 1px gray; }

#link-ingresar {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-shadow: .5px .5px 1px black; }

#boton-ingresar {
  background-color: #6a2cfa;
  border-radius: 100px;
  height: 50px;
  width: 150px;
  margin-left: 50px;
  box-shadow: .2px .5px 2px;
  border-style: none; }

a:link {
  text-decoration: none; }

.menu-line {
  display: none; }

.row-flex {
  display: flex;
  justify-content: space-between; }

/* menu mobile */
@media all and (max-width: 800px) {
  #boton-ingresar {
    margin-left: 10px; }
  .nav-flex {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 100px; }
  .navflex-item {
    border-bottom: 1px black solid;
    padding: 10px;
    font-size: 16px; }
  .icono {
    height: 100px;
    transition-duration: 3s; }
  .icono:hover {
    height: 110px; }
  .menu-line {
    display: block;
    background-color: black;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    margin-left: 50px; }
  .menu {
    margin-top: 50px;
    margin-left: 100px; }
  .grid-container {
    grid-template-columns: auto; }
  .imagen-index {
    height: 200px; }
  .imagen-contacto {
    width: 480px; }
  .imagen-registro {
    height: 200px;
    margin-left: 150px; }
  .imagen-about {
    height: 200px;
    margin-left: 150px; } }

/* estilo de los títulos y subtítulos */
h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 150px;
  margin: 50px;
  font-size: 46px; }

h2 {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  display: flex;
  margin: 50px;
  font-size: 10px;
  font-weight: 100;
  text-align: left;
  justify-content: center;
  padding: 50px; }

h3 {
  font-family: 'PT Sans', sans-serif;
  margin: 30px;
  font-weight: lighter;
  color: grey;
  font-size: 16px; }

/* estilo de index */
.grid-footer {
  padding-top: 20%; }

.boton-comienza-ahora {
  background-color: orange;
  border-radius: 100px;
  margin-left: 60px;
  margin-top: 20px;
  height: 100px;
  width: 320px;
  box-shadow: 1px 2px 8px;
  border-style: none;
  transition-duration: 2s; }

.boton-comienza-ahora:hover {
  background-color: #9729ff;
  height: 120px;
  width: 350px; }

#link-comienza-ahora {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-shadow: .2px .2px 1.5px white; }

/* estilos registro */
#boton-registrarme {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30px;
  border-radius: 100px;
  color: white;
  background-color: orange;
  height: 80px;
  width: 270px; }

#link-inicia-sesion {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white; }

#boton-inicia-sesion {
  background-color: #6a2cfa;
  border-radius: 110px;
  height: 50px;
  width: 150px; }

/* index mobile */
/* estilos contacto */
#boton-enviar {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 26px;
  border-radius: 100px;
  color: white;
  background-color: orange;
  height: 40px;
  width: 130px;
  margin-left: 100px; }

.imagen-contacto {
  height: 460px; }

/* estilos formularios */
.form {
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

.fieldset {
  border-style: none;
  margin-left: 50px;
  border-radius: 50px; }

.input {
  width: 15em;
  border-radius: 50px; }

.input-mensaje {
  border-radius: 50px;
  text-align: center; }

form div {
  margin: 20px; }

/* estilos iniciar sesion */
#iniciar-sesion {
  position: absolute;
  right: 45%;
  font-weight: bold; }

#enviar-iniciar-sesion {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #6a2cfa;
  border-radius: 110px;
  height: 50px;
  width: 150px; }

#titulo-iniciar-sesion {
  margin-right: 8%;
  text-align: center; }

.footer-iniciar-sesion {
  position: absolute;
  top: 90%; }

p {
  margin: 30px;
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 16px; }

/* estilos paquetes */
.imagen-paquetes {
  height: 300px; }

.imagen-basico {
  height: 150px;
  justify-items: center; }

.imagen-premium {
  height: 150px;
  justify-items: center; }

.grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin: 20px; }

.caja-paquete1 {
  border: orange solid 10px;
  height: 300px; }

.caja-paquete1:hover {
  height: 310px;
  box-shadow: 1px 1px 10px black; }

.caja-paquete2 {
  border: #6a2cfa solid 10px;
  height: 300px; }

.caja-paquete2:hover {
  height: 310px;
  box-shadow: 1px 1px 10px black; }

.premium {
  font-weight: 700;
  color: blueviolet;
  font-size: 30px; }

.premium:hover {
  text-shadow: 1px 1px 10px #6a2cfa; }

.gratuito {
  font-weight: bold; }

.internacionales {
  font-weight: bold; }

/* mobile paquetes */
@media all and (max-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 400px; }
  .caja-paquete1 {
    margin-left: 60px; }
  .caja-paquete2 {
    margin-left: 60px; } }
