header {
  background-color: #fffffa; }
  header nav {
    display: flex;
    justify-content: space-around;
    margin: 20px; }
    header nav .nav-flex a {
      color: black;
      text-decoration: none;
      text-shadow: 0.2px 0.5px 1px #9729ff; }
    header nav ul li {
      list-style: none;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 35px 30px; }

main h1 {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
  margin: 50px;
  font-size: 46px; }
  main h1 section article form {
    font-family: "Roboto", sans-serif;
    font-size: 20px; }
    main h1 section article form fieldset {
      border-style: none;
      margin-left: 50px; }
      main h1 section article form fieldset input {
        width: 15em; }
    main h1 section article form div {
      margin: 20px; }
      main h1 section article form div #boton-registrarme {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 30px;
        border-radius: 100px;
        color: #fffffa;
        background-color: #ff8000;
        height: 80px;
        width: 270px; }
