$color-secundario1: rgb(151, 41, 255);
$color-secundario2: rgb(255, 128, 0);
$color-tipografía: rgb(29, 29, 27);
$color-principal: rgb(255, 255, 250);
$fuente-principal: 'Roboto', sans-serif;

$tamaño-imagenes-responsive: 200px;